<?xml version="1.0" encoding="utf-8"?>
<WakeOnLanConfig>
	<SerialPort>
		<PortName>COM4</PortName>
		<BaudRate>115200</BaudRate>
	</SerialPort>
	<PollIntervalMs>2000</PollIntervalMs>
	<Users>
		<User>
			<Name>Vlad Shorodok</Name>
			<PhoneNumber>0728349532</PhoneNumber>
			<MacAddress>98-EE-CB-F3-3A-51</MacAddress>
		</User>
		<User>
			<Name>Gheorghe</Name>
			<PhoneNumber>0748568442</PhoneNumber>
			<MacAddress>98-EE-CB-F3-3A-51</MacAddress>
		</User>
	</Users>
</WakeOnLanConfig>